/* Some tablets mis-report orientation, leaving white at bottom: */
body { background-color: #d1d1d1;}

h2 {
	border-bottom: 1px solid #b3b3b3;
	font-size: 1.4em; /* 1.6em; */
	font-weight: normal;
	margin: 0.3em 0px 0.6em 0px; 
	padding-bottom: 0.1em;
	color: #114a80;
}
h3 { 
	font-size: 1em;
	font-weight: bold;
	margin: 0.8em 0px 0.5em 0px;
	text-shadow: #FFFFFF 0px 1px 1px;
}
#content
{
	 margin-left: 5%;
	 margin-right: 5%;
}
#diapo_control
{
}
#diapo_display
{
}
#maj_letter_display
{
	width:98%;
	height:60%;
	background-color:yellow;
}
#min_letter_display
{

}